<!doctype HTML>
<html>
  <head><title>BS Calculator – Your Answer</title></head>
  <link rel = "stylesheet" type = "text/css" href = "css/style.css">
  <body>
    <span id = head><h2>Your Answer</h2>
    <div class = "calculator"><%= @answer %></div>
  </body>
</html>