@import url(http://fonts.googleapis.com/css?family=Fira+Mono);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  background-image: url("http://images3.alphacoders.com/167/167859.jpg");
  background-color: lightblue;
  font-family: 'Fira Mono';
}

.calculator {
  background-color: #46BFFC;
  opacity: 0.8;
  border: 5px groove #5266E3;
  border-radius: 20px;
  padding: 10px;
  margin:auto;
  max-width:500px;
}

h3 {
  text-align:center;
  font-family:'Fira Mono','Monospace';
}

h1 {
  text-align:center;
  font-family:'Fira Mono','Monospace';
}

.choice {
  font-family:'Raleway',sans-serif;
}

#head {
  text-align:center;
  color: black;
}

/* body {
  background-color: lightblue;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  font-size: 30px;
}

form {
  border: 5px solid blue;
  border-radius: 10px;
  margin-left: 33%;
  margin-right: 33%;
  width: 33%;
  padding: 10px;
  font-size: 18px;

} */